<h2>Add Project</h2>

<form action="/projects" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name"><br>

    <label>Description:</label><br>
    <input type="text" name="Project Description"><br><br>

    <input type="submit" value="Submit">
</form>