<h2>Add new task</h2>

<form action="/tasks" method="POST">
    <label for="description">Task Description</label><br>
    <input id= "description" type="text" name="description" placeholder="Enter description" required><br>

    <label>Assigned To</label><br>
     <select name="userId" id="userId">
      <option value="1">user1</option>
        </select>
    <input type="submit" value="Submit">
</form>