<h2>Add new task</h2>

<form action="/tasks" method="POST">
    <label for="description">Task Description</label><br>
    <input id= "description" type="text" name="description" placeholder="Enter description" required><br>

    <label>Assigned To</label><br>
     <select name="userId" id="userId">
      <option value="1">user1</option>
        </select>
     {{!-- {{#each user}}
    <select name="users" id="users">
      <option value="user/{{this.id}}">{{this.name}}</option>
    </select>
  {{/each}} --}}
    <input type="submit" value="Submit">
</form>