<h2>Add User</h2>

<form action="/users/new" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name"><br>

    <label>Avatar link:</label><br>
    <input type="url" name="image"><br><br>

    <input type="submit" value="Submit">
</form>