<title>Add User</title>
<h1>Add User</h1>
<div class="task-card">
<form action="/users" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name"><br>

    <label>Avatar link:</label><br>
    <input type="url" name="avatar"><br><br>

   <button class="user-btn" type="submit">Submit</button>
 
</form>
</div>

