<h1>Add User</h1>
<div class="task-card">
<form action="/users" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name" required><br>

    <label>Avatar link:</label><br>
    <input type="url" name="avatar" required><br>

   <button class="user-btn" type="submit">Submit</button>
</form>
<button class="home-btn"><a href="/">Back to Projects</a></button>
</div>

