<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>chello</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js" defer></script>
<header>
<h1>Chello</h1>
</header>
<button id="addButton" onclick="newItem()">Add new item</button>
<div class="app">
  <div class="containers">


<div class="container" id="toDoDiv">
  <h2>To-Do</h2>

</div>

<div class="container">
  <h2>In progress</h2>

</div>

<div class="container">
  <h2>Completed</h2>

</div>


</div>
</div>

  </body>
</html>