<header>
<h1>Project.name</h1>
</header>
<div class="app">
  <div class="containers">

<div class="container" id="toDoDiv">
  <h2>Users</h2>
  <a href="/users/new">
    <button>Add user</button>
  </a>
  <section>
    {{#each users}}
      <article>
        <header style="background-image url({{this.avatar}});">
        <main>{{this.name}}</main>
        </header>
      </article>
    {{/each}}
  </section>
</div>

<div class="container" id="toDoDiv">
  <h2>To-Do</h2>
  <a href="/tasks/new">
    <button>Add task</button>
  </a> 
</div>

<div class="container">
  <h2>In progress</h2>

</div>

<div class="container">
  <h2>Completed</h2>

</div>


</div>
</div>
<script src="/script.js" defer></script>