* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffcc00a9;
  font-family: "Roboto", Helvetica, sans-serif;
}

p {
  font: "Arial";
}

#desc {
  text-align: center;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.containers {
  margin: 10px;
  display: flex;
  flex: 1;
  /* margin: auto; */
  width: 100%;
  overflow-x: scroll;
}

.containers .container {
  display: flex;
  flex-flow: column;
  flex: 1;
  border-radius: 5px;
  /* width: 100%; */
  /* min-width: 250px;
  max-width: 350px; */
  height: 100%;
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  padding: 8px;
  transition: all 0.2s linear;
}

.draggable {
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 15px 20px;
  text-align: center;
  margin: 4px 0px;
  cursor: pointer;
}

.img {
  height: 20px;
  width: 30px;
  border-radius: 50%;
}

section {
  margin: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: none;
  gap: 1rem;
}
article {
  margin: 0;
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  padding: 15px;
}

.home-btns {
  padding: 15px;
  text-align: center;
  margin: 10px;
}

.home-btn {
  margin: 15px;
}

.project-btn {
  position: absolute;
  display: inline;
  margin-bottom: 10px;
}

.update-btn,
.user-btn {
  margin-top: 40px;
}

.add-btn {
  padding: 8px;
}

.add-task-form {
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.card {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
}

.row {
  margin: 0 -5px;
}

.container a {
  color: #000;
}

.task-card {
  text-align: center;
  background-color: #fff;
  margin: auto;
  margin-top: 20px;
  border: solid #000 2px;
  height: 300px;
  width: 300px;
  padding: 20px;
}

.task-card form input {
  margin: 10px;
}

/*comment 
  /* css overrides for mid-sized screens goes here */
/*
  @media screen and (min-width: 40em) {
    .container {
      margin: 1rem;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: none;
      gap: 1rem;
      }
    }
    */
